<div class="d-flex justify-content-evenly">
    {{ date }}
    {{ search }}
</div>

<div class="accordion" id="accordionLeagues">
    {% for league in leagues %}
        <div class="accordion-item">
            <div class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ loop.index }}"
                        aria-expanded="true"
                        aria-controls="collapse{{ loop.index }}"
                >
                    {{ league.name }}
                </button>
                <div id="collapse{{ loop.index }}"
                     class="accordion-collapse collapse"
                     aria-labelledby="heading{{ loop.index }}"
                     data-bs-parent="#accordionLeagues"
                >
                    <div class="accordion-body">
                        {% for match in league.matches %}
                            <div class="d-flex justify-content-between align-items-center py-2">
                                <span class="flex-equal">
                                    {% if not match.status.started %}
                                        {{ match.status.startTimeStr }}
                                    {% elseif match.status.ongoing %}
                                        {{ match.status.liveTime.short }}
                                    {% else %}
                                        {{ match.status.reason.short }}
                                    {% endif %}
                                </span>
                                <div class="d-flex flex-column flex-equal">
                                    <div>
                                        <img src="https://images.fotmob.com/image_resources/logo/teamlogo/{{ match.home.id }}_xsmall.png"
                                             alt="{{ match.home.name }}"
                                             width="25"
                                             height="25"
                                        >
                                        <span>{{ match.home.name }}</span>
                                    </div>
                                    <div>
                                        <img src="https://images.fotmob.com/image_resources/logo/teamlogo/{{ match.away.id }}_xsmall.png"
                                             alt="{{ match.away.name }}"
                                             width="25"
                                             height="25"
                                        >
                                        <span>{{ match.away.name }}</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column flex-equal">
                                    {% if match.status.started %}
                                        <span>{{ match.home.score }}</span>
                                        <span>{{ match.away.score }}</span>
                                    {% endif %}
                                </div>
                                {{ select_watched }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>